* {
    font-family: 'Mitr', sans-serif;
}

button {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: 38px;
    border-radius: 30px;
    border: none;
    background-color: #DC3545;
    font-weight: normal;
    color: white;
    font-size: large;
}

button:hover {
    background-color: white;
    border: 1px solid #DC3545;
    color: #DC3545;
    transition: 0.7s;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

body {
    font-family: 'Roboto', sans-serif
}

.need {
    color: #DC3545;
    text-decoration: none;
}